export ROOT=$(pwd)

export EDITOR=nvim

export BAT_THEME="Solarized (dark)"
# export BAT_THEME="Solarized (light)"

# export PYTHONBREAKPOINT=IPython.embed

export AICHAT_LIGHT_THEME=false

export UV_PROJECT_ENVIRONMENT=~/.cache/venv/semantic-kernel-sample
